<% provide(:bloggers_active, 'active') %>

<h1 class="center"> All Bloggers</h1>
<% @authors.each do |author| %>
  <ul class="listing">
    <div class="row">
      <div class="gravatar1">
        <li><%= link_to gravatar_for(author), author_path(author) %></li>
        <li class="article-title">
          <%= link_to author.name, author_path(author) %>
        </li>
        <li><small><%= pluralize(author.posts.count, "posts") if author.posts %></small></li>
      </div>
    </div>
  </ul>
<% end %>
