<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/DenysonDomingos/microblog1"> Test Miniblog for HE:labs</a>
      by <a href="https://www.linkedin.com/in/denyson-domingos-0b2496b2?trk=nav_responsive_tab_profile" Denyson Domingos </a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
